@import '../utilities/mixins';

.header {
  display: flex;
  height: 40px;
  flex-flow: row nowrap;
  align-items: flex-end;
  justify-content: center;
  padding-right: 10px;

  .logo {
    display: flex;
    align-items: center;

    img {
      vertical-align: middle;
      height: 40px;
      filter: drop-shadow(1px 1px 1px $color-black);
    }

    span {
      @include font-Yellowtail(2rem, $color-black, false);
      text-shadow: 1px 1px 2px $color-black;

      strong {
        color: $color-yellow;
      }
    }
  }
}